<div id="header">
    <a href="#home" target="_top">Наш депутат</a>
    <a href="#about" target="_top">О депутатской деятельности</a>
    <a href="#plot" target="_top">Упоминания в СМИ</a>
    <a href="#contact" target="_top">Контакты</a>
</div>
